*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}

header {
    text-align: center;
}

#pricing {
    text-align: center;
}

#options { 
  display: flex; 
  justify-content: center;
  gap: 20px; 
}
        .pcard { 
          border: 1px solid #ccc; 
          padding: 20px; 
          border-radius: 10px; 
          text-align: center; 
          cursor: pointer;
        .pcard > li {
          text-align:left;
        }
        button { 
          background-color: purple; 
          color: white; 
          padding: 10px; 
          border: none;  
          border-radius: 10px;
        }


footer {
  text-align: center;
  display:flex;
  align-content:flex-end;
}
